{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <title>{% block title %}Jordan Heritage & Tourism Explorer{% endblock %}</title>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

  
    <header class="navbar-container">
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Jordan Logo">
                <div class="logo-text">
                    JordanTourism & Heritage Explorer
                </div>
            </div>

            <nav class="nav-links">
                <a href="{% url 'home' %}" class="active">Home</a>
                <a href="#">Destinations</a>
                <a href="#">Add New</a>
                <a href="{% url 'about' %}">About</a>
            </nav>

            <div class="search-login">
                <a href="{% url "login" %}" class="btn-auth login">Login</a>
                <a href="{% url "signup" %}" class="btn-auth signup">Signup</a>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}
   <script>
  const links = document.querySelectorAll('nav a');
  const current = window.location.pathname;

  links.forEach(link => {
    if (link.getAttribute('href') === current) {
      link.classList.add('active');
    }
  });
   </script>

   
    <footer>
      

        <p>© 2025 Jordan Heritage & Tourism Explorer</p>
       



    </footer>

</body>
</html>
